---
layout: main.njk
permalink: "/p/{{ page.fileSlug }}.html"
pageStylesheet: profile.css
tags: profile
---

{{content | safe}}

<div class="profile-navigation">
	<a href="/" class="nav-button">Home</a>
</div>